body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,image{ margin:0; padding:0; }
body {font-family:'Microsoft Yahei'; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a {text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
 textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

button:focus {
	border:0px!important;
	outline-width: 0px;
}

html {
	height: 100%;
}
body {
	height: 100%;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}/*每条新闻阴影效果*/


.container {
	width: 1000px;
	margin: 62px auto;
}

.topNews {
	width: 1000px;
	height: 462px;
	margin: 0 0 80px 0;
	overflow: hidden;
	position: relative;
}/*头条轮播+热文+短趣*/

.turnImg li {
	top: 0px;
	list-style: none;
	position: absolute;
	z-index: -1;
}

.turnImg li img {
	width: 1000px;
	height: 462px;
}

.turn {
	width: 1000px;
	height: 306px;
}

.turnLeft {
	cursor: pointer;
	float: left;
	border: none;
	background: url(../images/arrow-left-black.png) no-repeat;
	width: 64px;
	height: 64px;
	margin: 150px 50px 0px 50px;
}

.turnRight {
	cursor: pointer;
	float: right;
	border: none;
	background: url(../images/arrow-right-black.png) no-repeat;
	width: 64px;
	height: 64px;
	margin: 150px 50px 0px 50px;
}

.hotInteresting {
	width: 1000px;
	height: 156px;
	background: rgba(0,0,0,0.6);
}

.content {
	width: 1000px;
	height: 126px;
	position: relative;
}

.issayAll {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #fff;
}

.issayAll a {
	color: #fff;
}

.issayAll a:hover {
	color: #fd974d;
}

.issay {
	height: 126px;
	width: 250px;
	float: left;
	margin: 0;
	padding: 0;
}

.issay h1 {
	font-weight: normal;
	font-size: 16px;
	width: 130px;
	line-height: 26px;
	margin: 28px auto;
	color: #fff;
}

.issay h1:hover {
	cursor: pointer;
	color: #fd974d;
}

.displayNone {
	display: none;
}

.titles {
	width: 1000px;
	height: 30px;
}

.titles div a {
	display: block;
	width: 130px;
	height: 30px;
	background: rgba(0,0,0,1);
	color: #fff;
	text-decoration: none;
}

.hover a{
	background: rgba(0,0,0,0)!important;
}

.hot {
	float: left;
	width: 130px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 18px;
	background: 
}

.interesting {
	float: left;
	width: 130px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 18px;
}

.spare {
	float: left;
	width: 740px;
	height: 30px;
	background: #000;
}

.shortA {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	margin: 0 auto;
	height: 100%;
	background: rgba(255,255,255,0.8);
	z-index: +2;
	display: none;
}

.close {
	cursor: pointer;
	margin: 5px!important;
	float: right!important;
	width: 16px!important;
	height: 16px!important;
	background: url(../images/close.png) no-repeat;
}

.shortAlert {
	margin: 50px auto;
	width: 400px;
	background: #fff;
}

.shortAlert h1 {
	height: 25px;
	color: #333;
	line-height: 25px;
	font-size: 18px;
	padding-top: 40px;
	margin: 40px 0 30px 40px;
}

.shortAlert div {
	width: 360px;
	height: 40px;
	margin: 0 0 0 40px;
}

.shortAlert div img {
	width: 27px;
	height: 27px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}

.shortAlert div h1 {
	float: left;
	line-height: 27px;
	font-size: 12px;
	color: #999;
	margin: -40px 30px 0 10px;
}

.shortAlert p {
	line-height: 27px;
	font-size: 14px;
	color: #666;
	margin: 0 40px 50px 40px;
}

.shortAlert p a {
	display: block;
	margin-left: 250px;
	color: #666;
}


.newsList {
	width: 1000px;
	margin: 0 auto;
}/*首页新闻列表*/

.news {
	width: 1000px;
	height: 184px;
	margin: 50px 0;
}/*每条新闻*/

.newsImage {
	width: 300px;
	height: 184px;
	float: left;
}/*新闻大图*/

.newsWriter {
	width: 700px;
	height: 184px;
	float: left;
}/*新闻作者+标题*/

.newsLeft {
	float: left;
	width: 80px;
	height: 84px;
	margin: 50px 10px;
}

.newsLeft img {
	float: left;
	border-radius: 50%;/*圆形头像*/
	overflow: hidden;
	width: 55px;
	height: 55px;
	line-height: 184px;	
}

.newsLeft p {
	float: left;
	font-size: 15px;
	color: #333;
}

.newsWriter h1 {
	display: block;
	float: left;
	width: 350px;
	height: 64px;
	line-height: 32px;
	margin: 60px 20px;
	font-weight: normal;
	font-size: 20px;
	color: #333;
}

.newsReading {
	float: left;
	width: 180px;
	height: 184px;
	margin-left: 20px; 
}

.newsReading button {
	width: 25px;
	height: 25px;
	float: right;
	border: none;
	margin: 10px;
	cursor: pointer;
}

.collect {
	background: url(../images/collect.png) no-repeat;
}

.share {
	background: url(../images/share.png) no-repeat;
}

.newsReading p {
	float: right;
	margin-top: 100px;
	padding-left: 34px;
	font-size: 14px;
	color: #999;
}

.loading {
	width: 100px;
	height: 50px;
	margin: 0 auto;
	background: url(../images/loading.png) no-repeat;
}

.alink {
	display: block;
	margin: 0 auto;
	width: 1000px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #999;
}

