body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,image{ margin:0; padding:0; }
body {font-family:'Microsoft Yahei'; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a {text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
 textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

button:focus {
	border:0px!important;
	outline-width: 0px;
}

html {
	height: 100%;
}
body {
	height: 100%;
}

.container {
	width: 1000px;
	margin: 170px auto;
	position: relative;
}

.listNav {
	position: absolute;
	top: -100px;
	left: 0px;
	width: 1000px;
	height: 85px;
	border: 1px solid #999;
	display: none;
}

.listNav ul {
	margin: 0 auto;
}

.listNav ul li {
	float: left;
	margin: 0 45px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}

.listNav li a {
	color: #666;
}

.listNav li a:hover {
	color: #f67c16;
}


.listTitle {
	position: absolute;
	top: -80px;
	left: 0;
	width: 1000px;
	height: 85px;
}

.listTitle img {
	float: left;
	width: 25px;
	height: 25px;
	margin: 30px 10px;
}

.listTitle img:hover {
	cursor: pointer;
	transform: scale(1.1);
    transition: all 0.5s ease 0s;
    -webkit-transform: scale(1.1);/* Safari and Chrome */
    -webkit-transform: all 0.5s ease 0s;
}

.listTitle h1 {
	font-size: 18px;
	color: #666;
	line-height: 85px;
}

.lists {
	margin: 100px 0;
	width: 1000px;
}

.informations {
	float: left;
	overflow: hidden;
	position: relative;
	width: 487px;
	height: 364px;
	background: url(../images/zixun_img01.png) no-repeat;
}

.left {
	margin: 26px 26px 0 0;
}

.right {
	margin: 26px 0 0 0px;
}

.informations div:hover {
	cursor: pointer;
}

.detail {
	position: absolute;
	top: 222px;
	background: rgba(255,255,255,0.9);
	width: 487px;
	height: 364px;
}

.detailLeft {
	float: left;
	width: 30%;
	height: 222px;
}

.detailLeft img {
	width: 55px;
	height: 55px;
	margin: 40px 15px 0 40px;
}

.detailLeft p {
	font-size: 14px;
	color: #333;
	margin: 0 15px 0 40px;
}

.detailRight {
	float: left;
	width: 70%;
	height: 222px;
}

.detailRight h1 {
	margin: 50px 15px 0 5px;
	line-height: 20px;
	font-size: 18px;
	color: #333;
	letter-spacing: 1px;
}

.detailRight p {
	float: right;
	color: #666;
	font-size: 14px;
	margin: 20px 20px 0 0;
}

.hide {
	width: 450px;
	margin: 0 auto;
	height: 164px;
}

.hide p {
	color: #666;
	letter-spacing: 1px;
	font-size: 16px;
}

.loading {
	width: 100px;
	height: 50px;
	margin: 0 auto;
	background: url(../images/loading.png) no-repeat;
}